@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined');

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    @apply min-h-screen bg-background-light dark:bg-background-dark text-slate-900 dark:text-white font-body antialiased transition-colors duration-300;
  }

  ::selection {
    @apply bg-primary/70 text-background-dark;
  }
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}